[2012-11-21 18:49] holtkamp opened #1 "Derived class name for Geometry types are UPPERCASE and can not be found on case-sensitive OS'ss"
Nice library you got here, thumbs up.

First issue I noticed when adding a Polygon type property to an Entity

`Warning: include_once(CrEOF/Spatial/PHP/Types/Geometry/POLYGON.php)`

The following functions take the Geometry type as unqualified classname:

CrEOF\Spatial\DBAL\Types\Platforms\AbstractPlatform::convertStringToPHPValue()
CrEOF\Spatial\DBAL\Types\Platforms\AbstractPlatform::convertBinar

[2012-11-21 18:50] holtkamp opened #2 "Add composer.json to Packagist"
It would be nice to have the composer.json available in http://packagist.org, so no advanced configuration has to be setup to use the library

[2012-11-23 01:13] tvogt opened #3 "Type to be overwritten point does not exist."
When trying to install on the current Symfony2, I get this error message:

Writing lock file
Generating autoload files

  [Doctrine\DBAL\DBALException]
  Type to be overwritten point does not exist.

Script Sensio\Bundle\DistributionBundle\Composer\ScriptHandler::clearCache handling the post-update-cmd event terminated with an exception

  [RuntimeException]
  An error occurred when executing the

[2012-11-23 02:25] #3 closed, assigned to nobody

[2013-01-13 23:40] tvogt opened #5 "postgres 8.x compatability"
Postgres prior to 9.0 does not support type hints for the geometry/geography type, i.e.:

center geometry(POINT) NOT NULL -- fails
while
center geometry NOT NULL -- works

A simple change in PostgreSql.php (line 55) would fix this - but then it is missing for 9.x. I don't know how to test the version or if it is even possible, so I'm just putting this information here for now.

[2013-04-29 18:05] #2 closed, assigned to djlambert

[2013-05-02 05:06] PowerKiKi opened #8 "STClosestDistance.php file content re-declare exising class STClosestPoint"
The file content of https://github.com/djlambert/doctrine2-spatial/blob/master/lib/CrEOF/Spatial/ORM/Query/AST/Functions/PostgreSql/STClosestDistance.php does not incude the class `STClosestDistance`, but a (almost) duplicate of `STClosestPoint`.

This will cause PHP to crash when using both class. It will also generate error in API document generator (such as ApiGen). But most importantly it does

[2013-05-15 00:41] #1 closed, assigned to djlambert

[2013-06-20 14:18] bangpound opened #10 "Clarification on capitalization in install instructions"
I am using this bundle successfully, but it took me (a new Symfony2 developer) several hours to sort out why I could update my doctrine's database schema but it would always fail validation.

The problem seems to have been related to the capitalization of the geometry type in the DB column comment: `(DC2Type:Point)` or `(DC2Type:Polygon)`.

Originally, I had used lowercase data type names througho

[2013-07-21 11:17] muka opened #11 "Some MySql function added"
Hi,
on https://github.com/muka/doctrine2-spatial/commit/4844d597176ef69ac4fdef9098022e0d400ceeff

I've added some MySql specific function. Please consider if they can be useful to the project.

Thank your.
Regards

[2013-08-03 13:48] AlmogBaku opened #12 "symfony2 | mysql not supported on schema:drop or schema:update"
after configure it follow the document, the doctrine generate my scheme as well. But when I trying to update/drop the schema it throw me an fatal error:

[code]

My symfony config file:

[code]

[2013-09-06 08:22] fogs opened #16 "Mixup of latitude/logitude vs. x/y in class AbstractPoint"
Actually implemented
 * setLatitude() calls setY()
 * getLatitude() calls getY()
 * setLongitude calls setX()
 * getLongitude calls getX()

Instead X should represent the latitude, Y the longitude. This is even how it is stated in the first lines of lib/CrEOF/Spatial/PHP/Types/AbstractPoint.php:

[code]

[2013-09-08 16:29] ghunti opened #18 "Get a new object instance"
I, this is a question, not a bug.

I'm setting up the module with ZF2 but I couldn't find any way to create a new instance of the object (Point) inside my entity.
While this is true for ZF2 I think it will also be true to SF2.

In my conf I have
[code]

My problem is that I want to create a new instance of my entity (Place) that has a column (Coordinates) whose type is Point and I want to populate

[2013-09-11 01:33] g123456789l opened #19 "Trouble adding vendor - Unrecognized options "types" under "doctrine""
Problem fixed - error in my config.yml spacing.

[2013-09-27 12:02] pats opened #21 "Type H: illegal hex digit x"
Hello,

I have a problem with simple queries ...

here is my entity

[code]

and simple query

[code]

and exception

[code]

and some exception stack

[code]

and sql query that is ok

[code]

return

[code]

I run this under Win 7, PostgreSQL 9.1 and Postgis 1.5, php is 5.3.14

Best regards,
patS

[2013-10-24 00:52] #8 closed, assigned to djlambert

[2013-10-24 14:08] andrewmyhay opened #22 "Add st_buffer and st_transform function"
Can you add st_buffer and st_transform function to the extension?

[2013-10-24 23:47] #19 closed, assigned to nobody

[2013-11-01 20:00] #12 closed, assigned to nobody

[2013-11-01 20:04] #10 closed, assigned to nobody

[2013-11-08 18:39] mythril opened #24 "I pulled together some changes that seemed good a while back, here they are"
[Changes](https://github.com/mythril/doctrine2-spatial/compare/djlambert:master...master)

I didn't offer them as a pull request because it includes some composer package info that I changed, so I could use the improvements and still treat it like an external package.

[2013-11-27 14:22] tristanbes opened #26 "Type "geometry" does not exist"
Hi,

I got this error, when running with `Postgres 9.3` (without postgis as we only need the point type for now) & `Symfony 2.4` + `Doctrine 2.4.1`. Im using the latest commit in the master branch of this lib.

Any idea why ?

[code]

[code]

[2013-12-11 16:30] nsaleh opened #27 "Please provide licence information"
Hi,

I'm missing some information about licencing. It would be great if you could provide a licence soon.

Thank you,
Nabil

[2014-01-15 19:11] HurricaneHarry opened #28 "Packagist Versioning"
When are you planning to do a x.y.z numerical versions of the package?

It'd be nice to have the ability to "djlambert/doctrine2-spatial" : "0.1.*"  so I can have the updates over time instead changing the version names for each revision.

I'd like to do something other than dev-master, preferably.

[2014-02-14 11:38] svycka opened #29 "How to convert from php to WKT?"
Would be nice to have public API for converting WKT to PHP and PHP to WKT.

The best what is available now WKT to PHP:

[code]

and PHP to WKT:

[code]

So not so much. Unless I didn't found the right way to do this.

[2014-02-27 07:09] #29 closed, assigned to nobody

[2014-03-09 00:00] tobiassjosten opened #30 "Unpacking wonky data"
I'm getting the following error when reading what supposed to be a Polygon from my database. I really don't have much of a clue what's going on but before I delve in I thought I'd see if anyone else had bumped into this already. :)

Which leaves my with a Point (part of a Polygon) like this:

[code]

Perhaps I did something wrong when saving the data in the first place? Can't find any errors of it

[2014-03-12 01:41] #21 closed, assigned to djlambert

[2014-03-13 10:44] #27 closed, assigned to djlambert

[2014-03-17 13:59] #30 closed, assigned to djlambert

[2014-04-02 09:47] vespakoen opened #32 "Point -> String representation incorrect?"
Hey!

I used your package to convert from binary to GeoJSON and back again, working great so far!

However, there was one line I had to modify in the core, so I guess it's a bug, perhaps I am just using the library incorrectly since I only use a couple of things from it, you decide =).

https://github.com/djlambert/doctrine2-spatial/blob/master/lib/CrEOF/Spatial/PHP/Types/AbstractGeometry.php#L193

[2014-05-13 12:04] holtkamp opened #34 "Support for 'altitude' axis to ensure compatibility with KML"
I am currently looking at some homebrew Geometry classes and checking whether they can be replaced by the Doctrine2-spatial classes.

Since I once created these classes to be able to deal with KML files, the 'Point' type also supports the optional 'z' axis, representing the 'altitude'

http://code.google.com/apis/kml/documentation/kmlreference.html#coordinates

Would it be a big problem to add sup

[2014-05-19 13:08] albanR opened #35 "mysql get all points within distance of base point"
Hi,
This is more of a question than an issue. I'm using symfony2 and mysql. I have Place entities (they have a point property), and I want to get all the places within a distance of a specific point, the distance depending on the place. I'm trying to use GLength and everything works fine as long as the linestring used in the parameter (like in the tests) is fixed, but I can't figure out how to use

[2014-05-22 17:37] davidpch opened #36 "Error when executing a native query on a table containing a point type field"
When I execute a native query in a table (PostgreSQL) containing a field of type 'point' the following exception occurs:

ContextErrorException: Catchable Fatal Error: Argument 1 passed to CrEOF\Spatial\Exception\InvalidValueException::invalidType() must implement interface CrEOF\Spatial\PHP\Types\Geometry\GeometryInterface, string given, called in (...)/vendor/creof/doctrine2-spatial/lib/CrEOF/Sp

[2014-06-27 15:40] naeh opened #38 "Need help please : Class 'Contains' is not defined"
Hello,
i have this error when trying a query with the "contains" function
firstly, if i put this :

[code]

under orm like in doc, i have this error :

[code]

but if i put it under doctrine.orm.entity_managers.default there is no error but i still have an error when running the query, here is my code :

[code]

and here is the error :

[code]

can someone help me to resolve this problem ?
my symf

[2014-06-30 09:23] #38 closed, assigned to nobody

[2014-07-17 14:20] bphilippot opened #39 "Can't create MutiPolygon Entity"
Hi,

are mutipolygons supported ? It seems that Multipolygon type doesn't exist.
Is it planned ?

Thx

[2014-08-04 15:08] walva opened #40 "Can't update my POINT field with doctrine"
Hi,

I am trying to use your lib in order to save the location of my entities. I tried to create a form for Symfony 2 that handle the POINT object but nothing happens. Even if I do in my controller :

[code]

Nothing is being updated, so unfortunatly this prevent me to use the class. Is this because I use custom type? it seems that everything is implemented in the rules.

[2014-08-05 08:14] #40 closed, assigned to nobody

[2014-08-21 06:53] bastienEichenberger opened #42 "transform point from 2 fields latitude and longitude"
Hi,
First of all, thank you for the library its work's great :)
In my form I have 2 fields. I transform those fields in a Point Object in each controller.
Does a best Way exist to have 2 fields (lat + long) in the view and to transform them in a Point object later ?
In advance thanks you for your help.

[code]

[2014-10-08 18:13] ibedouglas opened #43 "Multipolygon classes are missing"
When I attempt to use the multipolygon type for mysql, I get errors because the referenced classes are missing. I made a branch where this issue is fixed, by creating the classes needed. I'd be happy to push the branch, provided permission.

[2014-10-24 12:34] svycka opened #46 "Does not work with nativeQuery"
example:

[code]

In database polygon column contains a POLYGON but in result I get POINT.
Not native query returns correctly a polygon. Or maybe my sql is not correct?

[2014-10-24 12:39] #46 closed, assigned to nobody

[2014-11-17 19:44] pankas87 opened #48 "ST_Simplify function"
Currently I need the ST_SImplifiy function to work in DQL.

Is it coing anytime soon? I can give you a hand in writing if you point me in the right direction in your codebase

[2015-02-20 22:41] ekittell opened #50 "save Polygon"
When I want to save a polygon from string input I'm using this method in my Entity class to parse the string for me.  I believe there are some string parsing methods included with this package, can I use them instead of this code?  How?  Too bad there's no doc explaining this or anything else, I was able to put this code together just by looking at the test files.

    /**
     * Set polygon

[2015-03-10 20:09] yoanisgil opened #51 "Support for spatialite"
Hi,

I was wondering what would it take to implement support:

https://www.gaia-gis.it/fossil/libspatialite/index

Bests,

Yoanis.

[2015-03-19 15:42] spackmat opened #52 "SRID set to 0 for points in MySQL"
Hi,

is it intended, that points are set with a SRID of 0 in MySQL (or maybe not set at all)?

When I save a new Point with a given SRID to the database, the SRID is always 0 afterwards.

Greets,
spackmat

[2015-03-19 15:44] spackmat commented on #42
This is a very good question, i am wondering this, too.

Is there a best practice to handle doctrine2-spatial's geodata in forms? How do others deal with it?

[2015-03-20 11:38] holtkamp commented on #43
+1 for support of MultiPolygons, @ibedouglas is your branch still available?

[2015-03-20 11:55] holtkamp commented on #43
Aah, here it is: https://github.com/djlambert/doctrine2-spatial/pull/44

[2015-04-05 02:17] collmomo opened #53 "Is this project still alive ? 10 PR are waiting...."

[2015-04-05 20:11] collmomo opened #54 "Invalid Polygon Point value of type "double""
[code]

What's the problem I don't understand at all, theres like no doc telling you how to create a polygon

[2015-04-05 23:23] collmomo commented on #54
I AM BECOMING CRAZY !!!
[code]

EVERY FUNCTION RETURNS NULL !!!!!!! omg, I need a break

[2015-05-07 06:46] edigu commented on #53
+1

[2015-05-07 07:07] hpatoio commented on #53
Don't understand why owner of projects like this one do not put them under control of some organization like "Friend of Doctrine", "Friend of PHP" of whatever. Please @djlambert consider this step.

[2015-05-07 08:04] dragosprotung commented on #53
+1

[2015-05-07 15:12] tvogt commented on #53
Because largely interest is not so very high, only a few people actually care, and begging some project to take your baby is somewhat insulting.

On the other hand, nothing stops you from forking it and giving the fork to FoS etc.

[2015-09-17 21:21] artggd commented on #53
+1

[2015-10-02 13:32] nsaleh commented on #53
+1

[2015-10-14 20:14] sadortun commented on #53
@djlambert  Can you nominate new moderators/admins to the project ? There is many PR waiting that should be tested and merged.

[2015-10-14 20:22] edigu commented on #48
IMO #49 covers this.

[2015-10-15 02:46] amenadiel commented on #53
:+1: I've long switched to my fork in my composer.json, but that spoils the sense of collaborative coding

[2015-10-15 02:50] sadortun commented on #53
@amenadiel  I am using @ddproxy fork, he have made quite a lot of progress and clean-ups  (currently 49 commits ahead of this repo)

[2015-10-15 03:47] ddproxy commented on #53
I'm working on separating some of this repositories' logic into two projects. I'll continue to support the creof namespace with new and tested code - its just slow going.

The current state of the project isn't as well tested as if like it to be. If you guys have any requests or prs sitting in waiting let me know and I can pull them in.

[2015-10-15 16:47] ddproxy commented on #54
@collmomo I'm working on better documentation and testing in my fork.

I'm assuming here the :point is actually being dropped into the query as a binary or self-represented geometry rather than the text representation. Have you tried without the GeomFromText method and would you happen to have a log of the actual query performed after doctrine sent it to the database?

[2015-10-15 16:49] ddproxy commented on #52
@spackmat SRID is default to the specification of the database. There is an optional parameter after these methods (in postgis) that define the SRID if it's not set on the table already. There may also be a parameter to have the database warn/explode if no SRID is defined in the query - but I'm not our database administrator :S good luck

[2015-10-15 16:51] ddproxy commented on #51
@yoanisgil I'll add this to my roadmap - if you have any code or forks that support spatialite or any of their related projects I'd appreciate a PR at some point :)

[2015-10-15 16:57] ddproxy commented on #48
@pankas87 ST_Simplify is available in my fork, sorry this took so long to get updated.

[2015-10-15 16:59] ddproxy commented on #43
@holtkamp @ibedouglas I'm working on a merge into my fork

[2015-10-15 17:03] ddproxy commented on #42
@spackmat @bastienEichenberger Use Doctrine's preupdate and prepersist events to generate the actual geometry in the entity.

[code]

[2015-10-15 17:06] ddproxy commented on #34
@holtkamp If you have an update to code that supports altitude/z axis or additional properties (it's weird) I'd be interested in merging.

[2015-10-15 19:40] holtkamp commented on #43
great, it works ok, if I remember correctly there were some awkward
limitations / specific ways on how to iterate over collections, will look
it up in my internal comments...
On Oct 15, 2015 6:59 PM, "Jon West" <notifications@github.com> wrote:

[2015-10-15 20:02] amenadiel commented on #53
Ok @ddproxy I rebased my PR #33 on top of your current master, and made a pull request on your fork
https://github.com/ddproxy/doctrine2-spatial/pull/8

I'm also pointing my composer.json to your packagist version.

[2015-10-15 20:09] sadortun opened #56 "Project relocation ?"
Hello Derek / Jon,

First of all, thanks for your contribution for the spatial library, it's very useful !

We will be using the spatial library heavily in the next two years and we need to have a stable origin on where to work from.

I think it would be a good idea for the project to be moved to a neutral location where a few moderators could perform the merge and restart the release cycle. There

[2015-10-15 23:32] djlambert commented on #56
I sincerely apologize for the silence and stagnation of library. The last
1.5+ years have been an epic whirlwind of activity in both my personal and
professional life, and I've been coming up short on time to devote to it.
I'm humbled by the fact that people find the library useful and desire for
its continued development.

I originally created the library for use in another stalled project, of
wh

[2015-10-15 23:45] ddproxy commented on #56
@djlambert could you contact me directly? Ddproxy@gmail.com or another route - I've come to the same conclusions and had begun work in that direction as well. I'd like to work more closely with you on the things so we don't butt heads. Also, testing. I'm embarrassed I hadn't fully tested my branch with merges - instead I needed those merges immediately for my critical application and cut corners.

[2015-10-15 23:55] ddproxy commented on #56
On either front I would be happy to begin maintaining an fod package, by the way.

[2015-10-16 03:11] sadortun commented on #56
Hi Derek,

Your situation is totally understandable ! It's still great that you manage to get the project that far !  I've already cherry-picked a few of your commits that were improving the docs, for the remaining of the code change i'll have a look later.

I am happy to see that we will be able to continue your work and work toghether in the same direction !

[2015-10-16 04:12] amenadiel commented on #51
I was thinking the same. Having spatialite available would allow to perform test to a local, self contained database.

[2015-10-16 04:15] yoanisgil commented on #51
@ddproxy cannot promise anything but will al least try to see what it would take to implement support for spatialite. @amenadiel yeah that sort of helps a lot with local testing and performance.

[2015-10-16 08:49] spackmat commented on #42
@ddproxy Thank you. In the meantime, I solved it inside the controller, the new/update-action looks like this:

    if (empty($form->get('geoLongitude')->getData())
        || empty($form->get('geoLatitude')->getData())) {
        $facility->setLocation(new Point(0, 0));
    }
    else {
        $facility->setLocation(new Point(
            $form->get('geoLongitude')->getData(),
            $form-

[2015-10-16 17:28] ddproxy commented on #51
Spatialite would test for spatialite - but wouldn't be transitive to mysql or postgis as they perform much differently than SqlLite. I haven't compiled a list of methods from spatialite yet, but it appears they have some of the methods in postgis. Just recently mysql began using the same method names as postgis.

[2015-10-19 17:05] djlambert commented on #56
I've converted the user account creof into an organization and transferred the repo to it. You both should have received invites.

[2015-10-19 17:10] ddproxy commented on #56
Do you have a chat client we could use to be more, real-time? Would be nice.

-----Original Message-----
From: "Derek J. Lambert" <notifications@github.com>
Sent: ‎10/‎19/‎2015 12:05 PM
To: "creof/doctrine2-spatial" <doctrine2-spatial@noreply.github.com>
Cc: "Jon West" <ddproxy@gmail.com>
Subject: Re: [doctrine2-spatial] Project relocation ? (#56)

I've converted the user account creof into an org

[2015-10-19 17:13] djlambert commented on #56
I have accounts on most all of them, does any one work better for you? I'm
available any time after 5P Central today.

On Mon, Oct 19, 2015 at 12:10 PM, Jon West <notifications@github.com> wrote:

[2015-10-19 17:22] ddproxy commented on #56
Gitter, Skype, hangouts, text. Send via email if you'd rather. It makes sense to 'keep close' so we remain organized.

-----Original Message-----
From: "Derek J. Lambert" <notifications@github.com>
Sent: ‎10/‎19/‎2015 12:13 PM
To: "creof/doctrine2-spatial" <doctrine2-spatial@noreply.github.com>
Cc: "Jon West" <ddproxy@gmail.com>
Subject: Re: [doctrine2-spatial] Project relocation ? (#56)

I have a

[2015-10-19 17:32] ddproxy commented on #56
@djlambert I'd suggest renaming the team to geospatial something and adding geo-parse and geo repositories. We can then migrate doctrine2-spatial to use geo-parse and geo.

[2015-10-19 18:21] djlambert commented on #56
Done.

[2015-10-19 19:53] sadortun commented on #56
Great !

[2015-10-19 19:53] #56 closed

[2015-10-19 22:36] sadortun commented on #48
PR #49 merged

[2015-10-19 22:36] #48 closed

[2015-10-19 22:39] sadortun commented on #11
Can you rebase on master and submit a PR ?

Thanks,
Samuel

[2015-10-19 22:52] ddproxy commented on #56
@sadortun please email me (ddproxy@gmail.com) for communication purposes.

[2015-10-19 22:54] sadortun commented on #24
Hi @mythril,

Can you rebase on master and submit a PR. We will review your changes and ignore the composer package changes.

Thanks,
Samuel

[2015-10-20 21:09] sadortun commented on #53
After a couple of day of re-organisation, project is indeed alive!  We are working in merging all open PR, and cleaning up the issues.

Please note that project was re-located to https://github.com/creof/doctrine2-spatial/

[2015-10-20 21:09] #53 closed

[2015-10-20 21:21] #42 closed

[2015-10-20 21:23] sadortun commented on #11
Merged into develop branch

[2015-10-20 21:23] #11 closed

[2015-10-20 21:24] holtkamp commented on #53
great news, kudos guys!
On Oct 20, 2015 11:09 PM, "sadortun" <notifications@github.com> wrote:

[2015-10-20 21:30] sadortun commented on #5
Postgre < 9.0 have reached end of life in July 2014. Is it still an active issue for anyone ?

[2015-10-20 21:30] #5 closed

[2015-10-20 21:31] #18 closed

[2015-10-20 21:39] #35 closed

[2015-10-20 21:40] #36 closed

[2015-10-20 22:04] djlambert commented on #16
Closing this issue. The PHP objects classes are being moved into the creof/geo library and interfaces added allowing the use of custom objects if desired. Compatibility with the existing implementation may require an additional "compat" library to bridge the gap, the goal being limiting any code changes to simply including the additional package dependencies.

[2015-10-20 22:04] #16 closed

[2015-10-21 18:38] sadortun commented on #34
Would it make sense to have a Point3D class extends the Point class ?

[2015-10-21 18:51] sadortun commented on #32
Hi @vespakoen ,

Can you `var_dump` your input data ?  The only way that code might return this would be if :

[code]

Thanks

[2015-10-21 18:57] sadortun commented on #22
PR #31 is pending

[2015-10-21 18:57] #22 closed

[2015-10-21 20:10] holtkamp commented on #34
@ddproxy, no, never went down that road and mostly discarded the altitude information in KML files.

[2015-10-21 22:09] sadortun commented on #28
Tag 0.1 now available !   0.2 will probably come soon :wink:

[2015-10-21 22:09] #28 closed

[2015-10-22 00:47] ddproxy opened #61 "Minor cleanup"
Tests now passing with doctrine/orm <2.5.

[2015-10-22 11:03] ddproxy opened #62 "Minor cleanup"
Tests now passing with doctrine/orm <2.5.

[2015-10-22 21:56] vespakoen commented on #32
Hey man! Thanks for coming back to this, the project where I needed this for has now been ported to Node.JS so it does not affect me anymore.

Unfortunately I have lost the code where I used it, so I cannot check if I used strings.

It might have already been fixed (or not even an issue) and since this issue is > 1 year old I guess it is safe to close this.

Anyways good luck with the project and

[2015-10-22 22:00] sadortun commented on #32
Tanks for your input.

[2015-10-22 22:00] #32 closed

[2015-10-22 22:01] ddproxy opened #63 "Minor cleanup"
Tests now passing with doctrine/orm <2.5.

[2015-10-23 08:07] ddproxy opened #66 "Remove dependency on doctrine/orm source for tests"
OrmTest no longer extends from doctrine/orm. Replace property access in tests with getters.

Tests still failing with Doctrine 2.5, next on the list.

[2015-10-23 08:07] ddproxy opened #67 "Minor cleanup"
Tests now passing with doctrine/orm <2.5.

[2015-10-23 13:44] djlambert commented on #34
This was actually something I had been investigating implementing once the PHP objects were broken out.

[2015-10-23 14:06] #61 closed

[2015-10-23 14:07] #62 closed

[2015-10-23 14:07] #63 closed

[2015-10-23 14:07] #67 closed

[2015-10-23 17:58] ddproxy opened #69 "uniform ST class names in mysql, ensuring doctrine can resolve them"
I've noticed that Doctrine doesn't pickup classes with the underscore eg ST_*
Refactored class names to ST* (Follow up of #11)

Best, Luca

[2015-10-23 19:38] sadortun commented on #69
#65

[2015-10-23 23:14] ddproxy opened #70 "Minor cleanup"
Tests now passing with doctrine/orm <2.5.

[2015-10-23 23:14] ddproxy opened #71 "Remove dependency on doctrine/orm source for tests"
OrmTest no longer extends from doctrine/orm. Replace property access in tests with getters.

Tests still failing with Doctrine 2.5, next on the list.

[2015-10-23 23:14] ddproxy opened #72 "Add Code Climate config and badges"

[2015-10-24 03:29] ddproxy opened #73 "uniform ST class names in mysql, ensuring doctrine can resolve them"
I've noticed that Doctrine doesn't pickup classes with the underscore eg ST_*
Refactored class names to ST* (Follow up of #11)

Best, Luca

[2015-10-24 04:47] #70 closed

[2015-10-24 08:23] ddproxy opened #74 "Add Code Climate config and badges"

[2015-10-24 08:23] ddproxy opened #75 "Remove dependency on doctrine/orm source for tests"
OrmTest no longer extends from doctrine/orm. Replace property access in tests with getters.

Tests still failing with Doctrine 2.5, next on the list.

[2015-10-24 08:23] ddproxy opened #76 "Minor cleanup"
Tests now passing with doctrine/orm <2.5.

[2015-10-24 13:03] ddproxy opened #77 "uniform ST class names in mysql, ensuring doctrine can resolve them"
I've noticed that Doctrine doesn't pickup classes with the underscore eg ST_*
Refactored class names to ST* (Follow up of #11)

Best, Luca

[2015-10-24 17:17] #71 closed

[2015-10-24 17:17] #72 closed

[2015-10-24 17:17] #73 closed

[2015-10-24 17:17] #74 closed

[2015-10-24 17:17] #75 closed

[2015-10-24 17:17] #76 closed

[2015-10-24 17:17] #77 closed

[2015-10-24 23:52] ddproxy opened #78 "uniform ST class names in mysql, ensuring doctrine can resolve them"
I've noticed that Doctrine doesn't pickup classes with the underscore eg ST_*
Refactored class names to ST* (Follow up of #11)

Best, Luca

[2015-10-24 23:52] ddproxy opened #79 "Minor cleanup"
Tests now passing with doctrine/orm <2.5.

[2015-10-24 23:52] ddproxy opened #80 "Remove dependency on doctrine/orm source for tests"
OrmTest no longer extends from doctrine/orm. Replace property access in tests with getters.

Tests still failing with Doctrine 2.5, next on the list.

[2015-10-24 23:52] ddproxy opened #81 "Add Code Climate config and badges"

[2015-10-25 00:22] #78 closed

[2015-10-25 00:22] #79 closed

[2015-10-25 00:22] #80 closed

[2015-10-25 00:22] #81 closed

[2015-10-25 21:43] #69 closed

[2015-10-25 21:59] sadortun opened #82 "Packagist hook"
Hi Derek,

Can you add the Packagist hook on the project ?

https://packagist.org/about#how-to-update-packages

Thanks,
Samuel

[2015-10-26 11:03] ddproxy opened #83 "Packagist hook"
Hi Derek,

Can you add the Packagist hook on the project ?

https://packagist.org/about#how-to-update-packages

Thanks,
Samuel

[2015-10-26 13:16] #83 closed

[2015-10-26 17:40] djlambert commented on #82
I thought it was there. I'll check.

[2015-10-26 17:52] sadortun commented on #82
Seems to work now :)  The branch develop was not showing up a couple of days ago.

`    "creof/doctrine2-spatial": "dev-develop"`  is now working

[2015-10-26 18:14] djlambert commented on #82
I noticed that when I was looking and had to click the update button for it to show up. I've reentered all the settings, maybe create a temp branch to test it now?

[2015-10-26 18:28] djlambert opened #84 "Minimum doctrine/orm version"
Currently we're requiring >=2.1. Is there any compelling reason to change this? I ask because I'm finding issues with the existing tests on at least 2.1 and 2.2. Guess I never went back and tested with previous versions. So far it's only required changes in the test classes, but I haven't resolved all the problems yet.

[2015-10-26 18:59] sadortun commented on #84
I think you can safely upgrade requirements to `2.3` or `2.4` as you need. 2.1 and 2.2 have not been updated in the last 3 years ....

Date | Version
------------ | -------------
2012-07-29|2.1.x
2012-11-21   |2.2.x
2012-09-20   |2.3.0
2014-06-03   |2.3.x
2013-09-07   |2.4.0
2015-08-31   |2.4.x

[2015-10-26 19:03] sadortun commented on #82
Working !

![image](https://cloud.githubusercontent.com/assets/794449/10739409/a11896e6-7bf2-11e5-8c56-3b049cdf216c.png)

[2015-10-26 19:03] #82 closed

[2015-10-26 19:16] djlambert commented on #84
Reading through UPGRADE.md I'd vote for ```2.4``` based on this alone:
https://github.com/doctrine/doctrine2/blob/master/UPGRADE.md#parenthesis-are-now-considered-in-arithmetic-expression

[2015-10-27 00:00] sadortun commented on #84
Sounds good !

[2015-10-27 04:57] ddproxy opened #85 "Minimum doctrine/orm version"
Currently we're requiring >=2.1. Is there any compelling reason to change this? I ask because I'm finding issues with the existing tests on at least 2.1 and 2.2. Guess I never went back and tested with previous versions. So far it's only required changes in the test classes, but I haven't resolved all the problems yet.

[2015-10-27 05:12] #85 closed

[2015-10-28 01:42] sadortun opened #88 "Warning: Ambiguous class resolution"
Composer warning while running
[code]

[code]

[2015-10-28 01:44] sadortun commented on #84
Doctrine version updated in #86

[2015-10-28 01:44] #84 closed

[2015-10-28 01:57] amenadiel commented on #88
yay for duplicated efforts
https://github.com/ddproxy/doctrine2-spatial/issues/9

[2015-10-28 01:59] sadortun commented on #88
hhheeheh ! Good catch @amenadiel  !

[2015-10-30 20:42] sadortun opened #90 "Moving toward 1.0"
Hi,

It have been almost a year since the lib is tagged as 0.1, i think it would be the time to get ready to move on to 1.0
- [x] Merge develop into master @sadortun
- [x]  Code coverage @sadortun
- [x] Resolve query parameter SQL generation issue with orm < 2.5 @djlambert
- [x] Merge docs from https://github.com/ddproxy/doctrine2-spatial/commit/0ea00def7183baba7bf5da66358e36dea22d5f8f  @ddproxy
-

[2015-10-30 20:49] djlambert commented on #90
I've found the issue with the tests, and it's actually with parameter handling. I'll explain further when I get home in an hour or two.

[2015-10-31 02:59] amenadiel commented on #90
@sadortun please consider that a fair share of the userbase might be using semver in their composer.json

If the version is specified as in mine (^0.0.1) it's meant to accept non breaking changes.

Releasing 1.0 when there aren't breaking changes  is misleading and breaks the meaning of semantic versioning.

[2015-10-31 04:38] sadortun commented on #90
Good point! @amenadiel

[2015-10-31 05:08] sadortun commented on #66
Fixed in https://github.com/creof/doctrine2-spatial/commit/2ccdafe26c914c7c79dc3426a7623692fd09ab51#diff-b5d0ee8c97c7abd7e3fa29b9a27d1780

[2015-10-31 05:08] #66 closed

[2015-10-31 05:59] sadortun commented on #90
@djlambert Indeed,  missing the GeomFromText()
DQL >  SELECT p FROM CrEOF\Spatial\Tests\Fixtures\PolygonEntity p WHERE Contains(p.polygon,  new Point(6,6) ) = 1

SQL > SELECT p0_.id AS id0, AsBinary(p0_.polygon) AS polygon1 FROM PolygonEntity p0_ WHERE Contains(p0_.polygon, 'POINT(6 6)')

[2015-10-31 16:18] djlambert commented on #90
@sadortun was about to respond with the same regarding 0.y.z, your entire comment didn't show up in email.

I agree complete, particularly so since the library is being used in production. This also, https://packagist.org/packages/creof/doctrine2-spatial/dependents.

This also resolves the query parameter handling question. Adding the GeomFromText/ST_GeomFromText to DQL with orm < 2.5.1 would brea

[2015-10-31 17:26] sadortun commented on #90
Looking at the diff, I guess that if you had GeomFromText() && orm > 2.5.1 it would break your queries?

To work in all 'orm' you could do something like : ( it's just an idea, probably a bad idea .... )
'''Sql
SELECT p
                                    FROM PolyEntry p
                                    INNER JOIN PointEntry t
                                          WITH Contains(p.poly,t.po

[2015-10-31 17:34] djlambert commented on #90
I just pushed test changes to my fork 93ce45b9ccddad925e179ba672538b7aff361039. They are all passing locally now, let's see what Travis has to say.

Let people continue to wrap DQL parameters for orm < 2.5.1, and a note in the readme they'll need t review their DQL for >= 2.5.1?

[2015-10-31 17:46] djlambert commented on #90
Submitted #95

[2015-10-31 21:22] djlambert commented on #90
Submitted #98 as alternative to #95.

[2015-11-01 05:55] sadortun commented on #90
Great! We will have to add a few tests to cover the  behaviour of <2.5.1 and >= 2.5.1

[2015-11-01 06:04] #88 closed

[2015-11-01 06:18] #34 closed

[2015-11-01 23:42] djlambert opened #101 "Test ticket from Code Climate"

[2015-11-01 23:51] #101 closed

[2015-11-04 19:35] sadortun commented on #43
#104 merged

[2015-11-04 19:35] #43 closed

[2015-11-06 14:00] #39 closed

[2015-11-06 14:01] sadortun commented on #39
Multipolygon added in #106

[2015-11-08 18:26] sadortun commented on #50
Hello @ekittell ,

Have a look at the StringParser class and StringParserTest for usage examples.

[code]

https://github.com/creof/doctrine2-spatial/blob/be4ee9aeadb7c886caab2c07ab5b1f13c8b9999e/tests/CrEOF/Spatial/Tests/DBAL/Types/StringParserTest.php#L119

[2015-11-08 21:26] #50 closed

[2015-11-08 21:28] #24 closed

[2015-11-08 21:30] sadortun commented on #26
@djlambert  Can we close this issue ? Anyone have a PR ?

[2015-11-09 13:38] djlambert commented on #26
I'd say this can be closed. The built-in spatial types and functions in PostgreSQL do not align with the Open Geospatial Consortium’s “Simple Features for SQL Specification", and offer little more than basic geometric/algebraic functionality.

[2015-11-09 13:44] #26 closed

[2015-11-09 19:47] djlambert commented on #90
I just added a tag for 1.0.0. Should that have been 1.0? The symver site isn't very clear on that point.

[2015-11-09 19:54] sadortun commented on #90
The Z in X.Y.Z, is ususaly for "patch" level releases, it can be a good idea to have it.

X =  backward incompatible changes
Y =  New features
Z = Bug fixes

[2015-11-09 19:54] #90 closed

[2015-11-09 20:02] ddproxy commented on #90
Agreed x.y.z, I meant to get docs in order by now but I've been busy tackling redis queuing. I'll see what I can whip up for either a patch or minor update.

[2015-11-09 21:31] sadortun opened #114 "Clean up branches"
Hi @djlambert  @ddproxy,

There is 4 branches that i am not sure if we should either merge, or delete and re-submit a PR if needed from a fork when the work will be completed:

- MySQL-srid
- fix-backport
- php55-fixes
- sandbox

Can you have a look ?

[2015-11-09 22:57] ddproxy commented on #114
Looks like everything is merged, not working or not worth touching other than sandbox - which is @djlambert's domain.

Double check the fix-backport, as it's a little interesting, php55-fixes has already been merged and the mysql-srid seems moot.

I support killing everything off other than sandbox, until @djlambert takes it back into his local dev?

[2015-11-10 01:12] djlambert commented on #114
I agree they can all go. I have a local copy of sandbox. I think everything in fix-backport I re-fixed now in master while I was monkeying with the tests.

[2015-11-10 02:42] ddproxy commented on #114
Removed, closing ticket

[2015-11-10 02:42] #114 closed

[2015-12-07 15:18] holtkamp opened #121 "Lazy property hydration of geometric information by using proxy functionality"
**Context**
For certain (Geographic) Addresses, we refer to a Geography, which can be a Municipality, City, Borough, etc. Such a Geography typically has a name, a parent Geography, optionally some child Geograpies and possibly a collection of MultiPolygons.

MultiPoloygons are used since a Municipality may have multiple Polygons, for instance when lakes / islands are involved.

The current approac

[2015-12-07 18:11] Ocramius commented on #121
This will be possible in 3.x.

Please see doctrine/doctrine2#1241

Also, it is not a DBAL concern IMO.
On Dec 7, 2015 16:19, "Menno Holtkamp" <notifications@github.com> wrote:

[2015-12-07 19:25] ddproxy commented on #121
We are also planning on implementing a default/geometry-geography output mechanism so data is returned in geojson, WKB, or WKT by choice rather than WKT by default. This could eliminate or defer the WKT processing on each geography/geometry fetched by the hydration.

No date has been determined for this feature

[2015-12-10 14:10] djlambert commented on #121
@holtkamp as things are currently using partial objects might avoid this.

Proxy objects might be useful in other situations too. We'll keep this in mind when the features @ddproxy are implemented.

[2015-12-10 14:22] djlambert commented on #52
Currently the MySQL code doesn't use the SRID value. This is something that'll need to be implemented.

[2015-12-27 03:18] djlambert commented on #51
Looks like pdo_sqlite doesn't currently support loading extensions, making SpatiaLite support a no-go at this time.

https://bugs.php.net/bug.php?id=64810

[2015-12-27 14:03] djlambert commented on #51
I'm marking this won't fix until the PDO issues are resolved.

[2015-12-29 09:18] wlzch opened #128 "Doctrine Cache"
Is there any way to make doctrine spatial works with doctrine cache? I am using geometry type for my field but it throws an exception if I use result caching. Thanks!

[2016-01-04 20:35] ddproxy commented on #128
Would you mind sharing the exception?

[2016-01-08 16:17] djlambert commented on #128
In lieu of the exception, sample code to reproduce the error would also work.

[2016-01-20 10:20] svycka opened #129 "Need ability to to convert GeometryInterface to WKT and WKT to GeometryInterface"
Basically this is dublicate of https://github.com/creof/doctrine2-spatial/issues/29 but after refactor the way I used this is no longer available.
So maybe would be good to provide public methods like wktToObject() and objectToWkt() names does not matter :D

the use case is that when I get or send data trought rest API it is in WKT format then I need to convert wkt to GeometryInterface or vice ver

[2016-01-22 10:48] svycka opened #130 "Geography polygon allows invalid coordinates"
for example geography point does not allow incorrect coordinates. example:
[code]
would throw `CrEOF\Spatial\Exception\InvalidValueException` with message:
[code]
but in geography polygon case it allows 10000 as coordinate. example polygon:
[code]
this should be valid geometry polygon, but not a geography polygon otherwise what's the point of geography polygon?

[2016-01-22 13:30] djlambert commented on #130
Yes that should also throw an exception.

[2016-01-22 13:44] djlambert commented on #129
The code still exists but was moved into other packages in the CrEOF namespace. You may need to import one or more of those packages also.

This use case has been discussed and functionality to allow working with raw data (WKT, GeoJSON, etc.) is planned.

[2016-01-22 14:18] svycka commented on #129
@djlambert yep, for now I wrote hydrator strategy for zf2 hydrator:
[code]
not perfect, but well at least works :D (hope in all cases)

[2016-01-26 16:02] murilolobato opened #131 "MongoDB support"
Is MongoDB in plans to receive support? I'm trying to find something to help me to store GeoJSON points in mongo documents with symfony, but i haven't found anything yet.

Is this the proposal of this bundle?

[2016-01-26 17:18] ddproxy commented on #131
As far as I can see, you should be able to store GeoJSON points in Mongo as json, the indexing properties are what would pose a problem.

@djlambert - Feel okay with adding MongoDB to our initiative?

[2016-01-26 17:28] djlambert commented on #131
@ddproxy absolutely. After our previous discussion regarding GeoJSON this came to mind as an additional bonus.

[2016-01-27 03:28] amenadiel commented on #131
That would be an epic achievement, boys.

Keep in mindb that, while some datatypes and geometry primitives have their mongodb counterparts and while simple spatial predicates should be easily converted, is near unfeasible to operate with mixed quieres.

Doing the intersections in memory is slow.

Perhaps is there a GEOS PHP module able to be offloaded the bigs guns

[2016-01-27 04:44] ddproxy commented on #131
Intersections and other spatial operations should be done in memory (and definitely with indexed data) in the database.

https://github.com/phayes/geoPHP has the ability to use GEOS PHP for intersections. I would be concerned with the latency between fetching the data ( or big data ) from mongoDB and passing into the GEOS implementation of intersection. For larger operations the data redundancy wo

[2016-01-27 10:21] holtkamp commented on #121
@djlambert, thanks for the pointer to [partial objects](http://doctrine-orm.readthedocs.org/projects/doctrine-orm/en/latest/reference/partial-objects.html). For others arriving at this issue, this is what worked for me:

[code]
**Warning**
Note that ```$query->getArrayResult()``` needs to be used. When using ```$query->getResult()```, an SQL statement is exectuted only fetching the ```id``` and ``

[2016-01-27 11:32] amenadiel commented on #131
@ddproxy you're right, I actually can't recall having used doctrine2-spatial to find the intersections between two ArrayCollections that contain geometric entities.

So, the scope of supporting MongoDB would involve two aspects:
1. Adding custom functions to the [$DocumentManager](https://github.com/doctrine/mongodb-odm/blob/master/lib/Doctrine/ODM/MongoDB/DocumentManager.php) object as we current

[2016-01-27 19:24] Ocramius commented on #121
@holtkamp we also support `SELECT new Foo(a.bar, a.baz) FROM MyEntity a` now, so yes, the docs may well be outdated. A reference to tests for this must be found before removing docs snippets.

[2016-02-03 07:56] jvmenthon commented on #38
Hello,
I have same probleme. Have you resolve it?
Thank you

[2016-02-18 09:45] rabbl opened #134 "PostGis raster support"
It would be nice to add the postgis-type raster to the supported geo-types.

[2016-02-18 09:47] rabbl commented on #134
I'll try this, if you agree with this issue.

[2016-02-19 16:25] ddproxy commented on #134
That would be fun but I haven't a clue where to start with that. We could obviously just implement
methods from http://postgis.net/docs/manual-2.1/RT_reference.html but raster object support is not a short-term goal.

With that in mind, you can test several of these by defining your own methods then porting them into D2S (with tests).

[2016-02-19 16:27] ddproxy commented on #131
@murilolobato 1.1.1 now has a toJson method that can be used to create the GeoJson representation for MongoDB. There are no ODM integration yet.

[2016-02-19 21:19] rabbl commented on #134
I'm still not very familiar with DBAL and new in the topic of spatial data and postgis.
Also I'm still struggling with understanding the code well enough to participate in a productive way.
My idea is to implement raster as another SpatialType that is not GeographyType nor GeometryType.
Until now I solved the issue with plain sql. But it's not so nice.
I could implement the main functions to add r

[2016-02-22 19:16] ddproxy commented on #134
I think that's a great start. We'll need to (hypothetically) add support for raster objects in PHP to transition further.

[2016-02-24 23:05] collmomo opened #135 "multiPolygon is saved as polygon when saving to database"
#CrEOF\Spatial\PHP\Types\AbstractMultiPolygon

     /**
     * @return string
     */
    public function getType()
    {
        return self::POLYGON;
    }`

I don't know if thats wanted but this specific portion of code makes believe your wkt parser that this is a polygon and as a consequence the wkt is saved as such `'POLYGON (.....)' `when it should be `'MULTIPOLYGON(....)'.` I tried changing

[2016-02-25 00:05] sadortun commented on #135
Hi @collmomo,

Good catch! We will have a look!

[2016-02-25 00:36] collmomo commented on #135
I strongly suggest using GeoPHP, the json to wkt is perfect for all different possibilities of geometries: https://geophp.net. In fact, I'm just gonna rewrite the types and change the convertToSQL functions using GeoPhp ones. Given I have an array, I'll just json_encode it. Plus you can access to many practical functions if you create a geophp object inside each geometry type.

[2016-02-25 02:41] djlambert commented on #135
What library version are you referencing in your composer.json? I may be missing something but ```CrEOF\Spatial\PHP\Types\AbstractMultiPolygon::getType()``` returns ```self::MULTIPOLYGON```
https://github.com/creof/doctrine2-spatial/blob/master/lib/CrEOF/Spatial/PHP/Types/AbstractMultiPolygon.php#L108

[2016-02-25 02:52] djlambert commented on #135
Adding support for the use of other geometry objects (including GeoPHP) is in the works. I'd like to avoid introducing unnecessary external dependencies into the library.

[2016-02-25 06:24] sadortun commented on #135
I think @collmomo  was refering to https://github.com/creof/doctrine2-spatial/blob/bfd98cb89f24230e6d2d064d5431fd20e0cabf10/lib/CrEOF/Spatial/PHP/Types/AbstractPolygon.php#L108

@collmomo Did you had an problem with the polygons or you only noticed this in the code ?

To recap :

[code]

[code]

I dont think there is an issue there.

[2016-02-25 07:13] collmomo commented on #135
Sorry, it was an old version of the library. I just ran composer update and that Issue disappeared. it was
AbstractMultiPolygon::getType()
    {
        return self:POLYGON;
    }

[2016-02-25 14:50] sadortun commented on #135
Ok, thanks for the update.

[2016-02-25 14:50] #135 closed

[2016-02-25 23:11] djlambert commented on #51
A note for later in the case PDO issues are fixed, it appears sqlite, or DBAL sqlite platform, doesn't support comments when defining columns.

[2016-02-25 23:19] djlambert commented on #128
@wlzch can you provide any further information? Which is your require in composer.json? Which cache driver are you using? What version of PHP?

The current test all pass when using the ArrayCache driver for the result cache.

[2016-02-28 13:12] rabbl commented on #134
To implement the raster functionality the BasicEntityPersister of Doctrine has to be overridden. At the moment Doctrine isn't providing this feature.

http://doctrine-orm.readthedocs.org/projects/doctrine-orm/en/latest/reference/limitations-and-known-issues.html#custom-persisters

So, i'll close this issue until Doctrine offers this.

[2016-02-28 13:12] #134 closed

[2016-03-21 14:23] mappedinn opened #137 "DQL query for getting geo spatial points st_within a rectangle"
I would like to write DQL query to select all points being within a rectangle in the map. The rectangle is defined by the top left point and bottom right point. See this [link][1] for more details.

To do so, I wrote this DQL query:

    $qb = $this->em->createQueryBuilder()
        ->select("m")
        ->from($this->getEntityClassName(), "m")
        ->where("ST_Within(m.geom, envelope(linestrin

[2016-03-22 14:10] mappedinn commented on #137
I would be happy if someone gives me an idea...  @ddproxy @djlambert @muka

[2016-03-23 15:44] djlambert commented on #137
@mappedinn what database platform and version are you running?

[2016-03-24 02:29] mappedinn commented on #137
it is mysql 5.6 on Ubuntu.

I find a solution.

        $qb = $this->em->createQueryBuilder()
            ->select("m")
            ->from($this->getEntityClassName(), "m")
            ->where(
                $this->em->createQueryBuilder()->expr()->eq(
                        sprintf("ST_Within(m.geom, envelope(linestring(point(:topleftX,:topleftY), point(:bottomrightX,:bottomrightY ))))"),

[2016-03-25 00:45] cermakondrej opened #140 "Json Serializable"
Is there some way to implement JSON Serializable interface to Point, Linestring etc. ? So it can be viewed by json_encode?

[2016-03-25 02:14] #137 closed

[2016-03-25 06:37] ddproxy commented on #140
We've updated recently to allow geometries to be converted to json (geojson) via a ->toJson() method. We haven't impemented the JSON Serializable interface yet but it's in the roadmap for the next major update to the library.

[2016-03-25 10:16] cermakondrej commented on #140
But that's a method in the specific class, but if i have entity , that includes point, linestring etc, I would have to query to actualy get the point instance and then call toJson() instead of serializing whole entity or array of entities. The reason i want to implement json Serializable is the speed. I tried to use some JSON Serializing bundles, but serializing 3000 objects with those bundles to

[2016-04-06 15:44] sadortun opened #142 "Coveralls / CodeClimate hooks not running"

[2016-04-06 17:20] djlambert commented on #142
Probably need to add the develop branch. I'll take a look.

[2016-04-06 17:29] sadortun commented on #142
Coveralls was on Dec 25
Code Climate was on Feb 16.

[2016-04-06 17:42] djlambert commented on #142
:confounded: Code Climate:

Default branch only:
We only support test coverage for your default branch. Be sure to check out this branch before running your tests

[2016-04-06 21:46] sadortun commented on #142
https://travis-ci.org/creof/doctrine2-spatial/jobs/121185738#L686
[code]

[2016-04-06 22:42] djlambert commented on #142
#143 should have triggered Code Climate. This week is all about things breaking.

[2016-04-06 22:44] djlambert opened #144 "Test ticket from Code Climate"

[2016-04-07 00:22] djlambert opened #147 "Test ticket from Code Climate"

[2016-04-07 00:22] #147 closed

[2016-04-07 00:25] sadortun commented on #142
I added the webhook, and seems to work

![image](https://cloud.githubusercontent.com/assets/794449/14336805/a7fdd368-fc35-11e5-9df5-047fe15c4216.png)

[2016-04-07 00:26] #144 closed

[2016-04-07 00:27] sadortun commented on #142
Yep it's working !

![image](https://cloud.githubusercontent.com/assets/794449/14336816/e97a650e-fc35-11e5-9dea-3feee8f653c1.png)

[2016-04-07 00:27] #142 closed

[2016-05-16 09:53] holtkamp opened #155 "Polygon needs to have a 'hole' to be accepted in MySQL 5.7.11?"
I don't think this issue applies to this library, but it might be good to be aware of, for example when dealing with validation issues like https://github.com/creof/doctrine2-spatial/issues/130

While trying to migrate a database from MySQL 5.6.29 to MySQL 5.7.11, the import of a table with geographic data kept failing with an error "Invalid GIS data provided to function st_geometryfromtext.".

Fu

[2016-05-16 12:53] djlambert commented on #155
Thanks for the heads up.

There's a lot of issues with validation at the moment. I've been working on a rewrite of the PHP objects to deal with this and a number of other shortcomings. I'll make sure to take this into account.

[2016-05-16 13:31] sadortun commented on #155
@djlambert can edifying the MySQL version on our Travis tests ? Would be nice to test a wider range if there is such compatibility issues.

[2016-05-18 13:05] holtkamp commented on #121
UPDATE, prevent unused (geographical) information to be hydrated, I used a separate Geometry Entity which has a lazy-loaded one-to-one association with the Geography Entity itself. Not the most elegant approach but it does the job....

[2016-05-19 12:44] sadortun opened #157 "Add MySQL 5.7 Travis tests"
Add tests for MySQL 5.7 in Travis

http://stackoverflow.com/questions/34831695/configure-mysql-5-7-with-travis-ci

[2016-05-19 12:47] sadortun commented on #52
#156

[2016-06-26 10:43] Thonior opened #160 "Example codes"
Hello there,

could you please add some example code for usage of at least the more used functions?

Thank you!

[2016-06-26 22:49] sadortun commented on #160
Hi!

Have you looked in the tests there is a lot of examples there !

[2016-06-30 10:48] Thonior commented on #160
Hi! I didn't saw the answer!

Thank you.

I checked it but was unable to find what I was looking for. I have an entity with a Point attribute and a category. And I need to search for entities with a certain category in a certain distance, but I don't know how to make it exactly

I guess I am looking for something like:

[code]
But I guess is not that easy to include the function in the query build

[2016-08-26 21:04] n-sviridenko opened #163 "Spatial form types and data transformers"
Not for this package, but will be good.

[2016-08-30 18:54] n-sviridenko opened #164 "Spatial indexes"
I need to have an ability to create spatial indexes:
http://dev.mysql.com/doc/refman/5.7/en/creating-spatial-indexes.html

[2016-08-30 19:31] djlambert commented on #163
Could you please explain?

[2016-10-07 07:54] FredoVelcro commented on #164
:+1:  need this too like https://github.com/jsor/doctrine-postgis/ does...

[2016-11-20 17:20] olegsv opened #166 "MySQL 5.7 : missing GeometryCollection type"
Would adding abstract GeometryCollection class make sense?

[2016-12-03 09:05] sadortun commented on #164
@FredoVelcro @n-sviridenko  interested in contributing a PR?

[2016-12-03 09:05] #163 closed

[2017-03-24 11:24] spackmat opened #175 "Doctrine Migrations always sets "DC2Type:geopoint" comment"
Hi, I'm using this Type for quite a long time now. But every new Doctrine migration detects the "DC2Type:geopoint" comment as not set and wants to set it. So all my migrations have this code `ALTER TABLE mytable CHANGE location location POINT DEFAULT NULL COMMENT \'(DC2Type:geopoint)\'` driving me crazy.

Any ideas how to get rid of this?

Greets, spackmat

[2017-03-24 13:08] sadortun commented on #175
Hi @spackmat

Which version of mysql are you using ?

[2017-03-24 15:16] spackmat commented on #175
@sadortun Version 5.7.17 (5.7.17-0ubuntu0.16.04.1 to be exact)

[2017-06-06 11:04] jaikdean opened #176 "“Unknown database type point requested” on schema update"
I have the following setup in a Symfony 3.3 app:

[code]

[code]

This works as expected, creating the following table:

[code]

However, when I run a `php bin/console doctrine:schema:update` I get the following exception:

[code]

Any ideas what to try?

[2017-06-15 11:44] svycka commented on #164
not sure what does not work I added index int oentity annotation and doctrine/migrations generated correct migrations
[code]
and generated this:
[code]

[2017-06-16 12:32] svycka opened #177 "Many mysql functions not implemented but exists in documentation"
https://github.com/creof/doctrine2-spatial/blob/master/doc/mysql.md
for example documentation says ST_GeomFromText() or ST_X() and many more are added but I cant find implementation only postgresql has them all. Maybe I just can't find them?

[2017-07-07 08:14] jensstalder opened #178 "Indexing wont work with = 1 or = true"
MySQL expects there to be no literal.

```$qb->andWhere("ST_Intersects(node.polygon, mainnode.polygon) = true");```

This works but the spacial index wont be used!

And this is not valid dql.

```$qb->andWhere("ST_Intersects(node.polygon, mainnode.polygon)");```

```... Error: Expected Literal, ...```

Do you have an idea if that can get fixed? or is there a workaround?

[2017-07-12 20:06] mikysan commented on #176
run into same problem!

[2017-07-13 13:42] damanikrish commented on #129
Hi,
Is there any update on this issue?
I have almost similar problem (https://stackoverflow.com/questions/45052641/doctrine-creof-convert-string-in-to-polygon-type-in-the-entity-setter-method), can any one please suggest me a fool proof solution for the same?
Thanks,
Krish

[2017-07-17 18:32] kmusiclife commented on #176
same problem I detected.

[2017-07-27 10:38] Ferrer-Jeremy opened #181 "Error in documentation for configuration Symfony"
On [this page](https://github.com/creof/doctrine2-spatial/blob/master/doc/configuration.md)
The config is:
[code]

And should be:
[code]

Source: [Doc Symfony](https://symfony.com/doc/current/reference/configuration/doctrine.html)

[2017-09-21 14:50] braianj commented on #176
same here. Any news?

[2017-09-27 09:37] forsetius opened #182 "Doctrine repeatly creates geometry-type field"
Having configured the bundle:
[code]

in entity class I defined a field:
[code]

then executed `bin/console doctrine:generate:entities...` and `bin/console doctrine:schema:update`.
Now in the Postgres DB I have a new `geomshape` field of `geography` type but it's comment is `DC2Type:geometry`.

Problem is that on the next time I use `bin/console doctrine:schema:update` it wants to alter `geomshape

[2017-09-27 09:52] jsor commented on #182
Probably the same as jsor/doctrine-postgis#31

[2017-09-27 10:17] forsetius commented on #182
Nope, I tried to use @jsor 's solution with `commented: false` but to no avail. Then I deleted the field and allowed Doctrine to create it again. Now, the comment was correctly `(DC2Type:geography)`. Then I commented out that `commented: false` and deleted and created field. Again, the comment was correct. Anyway, once correctly created, the Doctrine doesn't want to alter it again. Solved

Then I

[2017-10-10 22:52] alejandrososa commented on #176
It´s work for me `doctrine:
    dbal:
        types:
            point:  CommonBundle\Type\PointType
        default_connection: app
        connections:
            app:
                driver: pdo_mysql
                host:   '%database_host%'
                port:   '%database_port%'
                dbname: '%database_name%'
                user:   '%database_user%'
                password: '

[2017-11-20 09:43] yurtesen commented on #52
Is there any news about if this will ever be implemented for MySQL? I am also interested in this feature.

[2017-11-20 18:30] sadortun commented on #52
@yurtesen Your PR and contribution are most welcome ! The project is well used by many, i am sure many users will be happy to see SRID avalaibility !

[2017-11-21 09:53] jsampedro77 commented on #176
As @alejandrososa sated, I had to declare  the mapping type to get rid of this problem

[code]

[2017-11-21 12:41] yurtesen commented on #52
@sadotun , I am not even sure if I will use this project yet. If I have to use this, then I can try to resolve the issue and make a pull request.

[2017-11-24 10:44] yurtesen opened #184 "Installation document config.yml function names problem?"
I can see a commit which removed the underscores from function names [here ](https://github.com/creof/doctrine2-spatial/commit/1f3e96501fc02da5d2999f33c2bbe7c959a70426#diff-7d442b7eb49f5fc377f51e74b291cfc1)

Now my problem is that doctrine does not recognize functions like `ST_AsText` unless if I write 'stastext'. I am getting errors like `Error: Expected known function, got 'ST_AsText`. [Here ](h

[2017-11-24 18:04] yurtesen opened #185 "ST_* function arguments not recognized"
I am not sure what I am doing wrong.

I have only 2 functions defined in the config.yml

[code]

I am trying to execute a simple query

`            ->where('ST_Intersects(st.coords,ST_MakeEnvelope(-1,-1,1,1,4326))=true')`

I get an error (I believe the dash is the minus dash of first element):

`Error: Expected Literal, got '-'`

I had no problems with the entity and doctrine generating database

[2017-11-25 13:34] yurtesen commented on #181
This is not an error. Symfony manual clearly tells that this way is used often in documentation. See [Shortened Configuration Syntax](https://symfony.com/doc/current/reference/configuration/doctrine.html#shortened-configuration-syntax)

[2017-11-25 13:37] yurtesen commented on #184
#186 Please see the pull request #

[2017-11-25 13:38] yurtesen commented on #185
#186 Please see the pull request

[2017-11-28 16:20] ima-tech opened #187 "Function does not exist"
I'm trying to use the Creof bundle and its Distance function. When I execute the following code, I get the following exception:

    public function getMapDecorator(array $requestInformation, $type) : MapDecorator {
            $queryBuilder = $this->entityManager->getRepository('AppBundle:Provider')->createQueryBuilder('provider');

        $point = new Point(0,0);
        $point->setLongitude($r

[2017-11-29 12:50] ima-tech commented on #187
Ok Found the issue. Mysql deprecated the Distance function in favor of ST_Distance. This bundle should update that but for the time being, I created the following class in my bundle:

[code]

and I added that in my config:

                st_distance:            AppBundle\ORM\STDistance

[2017-11-29 12:50] ima-tech commented on #187
This can be closed.

[2017-11-29 12:50] #187 closed

[2017-12-01 10:57] yurtesen commented on #164
@svycka You must have `jsor/doctrine-postgis` event subscriber registered. It wont work otherwise with `creof/doctrine2-spatial` AFAIK.

[2017-12-02 01:36] yurtesen commented on #178
No, there is no workaround to this. It is related to doctrine syntax checker. See [this](https://stackoverflow.com/questions/47476822/how-do-i-use-custom-operators-in-doctrine-dql/47481297#47481297).

In addition, this issue is probably related to MySQL also because I just checked and PostgreSQL uses index. I actually switched to PostgreSQL due to MySQL's spatial support being so weak.

[2017-12-05 22:51] yurtesen opened #188 "Assigning EWKT to type"
If I have a 'geopoint' column, but I access it using SQL with something like `SELECT ST_AsEWKT(coords) as coords` and I will get the EWKT text, how can I parese it to a Point() object?

I came up with something like below, but I am guessing this is not the right way?:

        $sql = "SELECT st.id,st.name,ST_AsEWKT(coords) as coords FROM store st LIMIT 1";
        $conn = $this->getEntityManager()

[2018-01-13 07:23] zimmermanj42 opened #190 "Using library with MySQL 8.0; issues with MySQL platform"
First, I understand that MySQL 8.0 is still in development.  I am working on a project that will most likely be done after this is out, so am using it in my development.

Initial testing and development work seems to show that things with this library seem to work fine with MySQL 8.0, except for the \CrEOF\Spatial\DBAL\Platform\MySql class.

Starting with MySQL 5.6, the "GeomFromText" and "AsBinar

[2018-02-03 16:42] ima-tech commented on #42
If anyone were to stumble on this thread when trying to create a form for a point, I was able to do it using this option:

[code]

with the complete code being:

`class PointType extends AbstractType
{
    public function buildForm(FormBuilderInterface $builder, array $options)
    {
        parent::buildForm($builder, $options);

        $builder
            ->add("latitude", NumberType::class, [

[2018-02-15 13:20] int99h commented on #175
Percona 5.7.20-19-1.jessie... the same

[2018-04-23 20:31] zlanich commented on #51
@djlambert @ddproxy @yoanisgil @amenadiel Hey there, I've been struggling for DAYS trying to get Spatialite working through the built-in pdo_sqlite that comes with php7.2 on Debian, and I can't for the life of me find a solution. Has anything changed on this? Is it possible to get it working some other way?

I have to get Spatialite working via pdo_sqlite "somehow" for unit-testing our geo-applica

[2018-04-23 20:34] yoanisgil commented on #51
@zlanich sorry but it's been ~ 2 years since I wrote my last line of PHP code. I hope you can find a solution.

[2018-04-23 21:16] sadortun commented on #51
@zlanich Seems like SpatiaLite is not loaded in SQLLite. Check SQLLite error logs to see if there is any suspisious errors during the loading of the extensions.

[2018-04-23 22:04] zlanich commented on #51
UPDATE: So I was able to load it using a raw `SQLite3` instance it like so:
[code]

The issue is that Laravel relies on PDO and there's no way (that I know of) to actually call `->loadExtension('mod_spatialite.so');` using `pdo_sqlite`, so you have to use `SELECT load_extension('mod_spatialite');`, which is definitely disabled since I get an `unauthorized` error.

I'm even open to somehow recompil

[2018-04-24 18:29] holtkamp commented on #51
mmm,

indeed. Did you consider trying to spin up a Spatiallite docker for this purpose?

https://github.com/terranodo/spatialite-docker/blob/master/Dockerfile

Also see this: https://github.com/simonw/datasette/issues/110

[2018-04-25 09:11] holtkamp commented on #51
Aah, ok, sorry for blindly dumping links here ;).

mm, the hints at https://www.gaia-gis.it/fossil/libspatialite/wiki?name=mod_spatialite suggest to try to use the sqlite3 Command Line front-end to see if a more detailed error message can be acquired... Did you try that? Maybe first get it working on a SQLLite installation separate from PHP7.2?

[2018-06-20 14:39] sela opened #192 "deserialize with JMS Serializer"
I'm using JMS Serializer and try to deserialize JSON Point coordinates.
I wasn't sure for the format so serialized an object and got the following format (coordinate is the column name):

{
    "coordinate": {
        "x": 12.0,
        "y": 12.0
    }
}

now I try the same from JSON and the deserialize fails with the message: You must define a type for App\Entity\Something::$coordinate.

[2018-07-05 09:58] alexislefebvre commented on #176
We have the same problem with Symfony 4.1.1 and doctrine/orm 2.6.1

We installed this bundle in order to use the `CrEOF\Spatial\DBAL\Types\Geography\PointType` type.

But generating Doctrine migration triggered the following error:

We has similar errors and we had to declare other types:

[code]

And it returns a strange error:

[code]

[2018-07-31 13:54] tok-amsiq opened #193 "MySql 8.0 release issues"
MySql 8.0 has been released and there has definitely been some focus on the spatial functionality.

Most notably to this library GeomFromText and AsBinary has been deprecated. Instead ST_GeomFromText and ST_AsBinary should be used, which are already available in 5.7, so it shouldn't give any BC breaks.

SRID's are also possible to use in MySql now. So implementing some functionality to support the

[2018-08-07 11:11] holtkamp commented on #193
Guess a PR would be very welcome 🤓 right @djlambert ?

[2018-08-19 14:38] bucefal91 commented on #140
I have filed a pull request - https://github.com/creof/doctrine2-spatial/pull/194

[2018-10-17 13:08] EquisTango opened #195 "Point to string affected by locale"
I noticed that the function toStringPoint() in AbstractGeometry.php is affected by locale configuration and can sometimes emit coordinates with comma as a decimal separator (which will fail when persisting to a MariaDB database).
I think the problem is -at least- in line 227, in "vsprintf('%s %s', $point)" where $point is an array of two float values, and vsprintf will respect locale when implicit

[2018-11-14 01:59] kapiwko commented on #195
Unfortuanelly in general that library is not usable when locale has comma as decimal point - I always got POINT(1,1).

[2018-12-15 16:34] holtkamp commented on #190
@zimmermanj42 refers to:

https://github.com/creof/doctrine2-spatial/blob/58ea5fae1c1b450ee08d7dac25cd9e8f5e6fdebd/lib/CrEOF/Spatial/DBAL/Platform/MySql.php#L61

and

https://github.com/creof/doctrine2-spatial/blob/58ea5fae1c1b450ee08d7dac25cd9e8f5e6fdebd/lib/CrEOF/Spatial/DBAL/Platform/MySql.php#L72

Which need to be prefixed with `ST_` to work on MySQL 8.0

[2018-12-17 14:41] djlambert commented on #193
PRs are always welcomed. They should include tests to be merged.

[2018-12-18 12:11] holtkamp commented on #193
@djlambert thanks for the response.

Not sure how this PR can be tested more explicitly: the current test-set already covers it... right?

[2019-01-12 21:41] Surfoo opened #197 "doctrine2-spatial with DBAL only"
Hello,

Can we use doctrine2-spatial only with Doctrine DBAL or the orm is mandatory? if so, in what way?

I'd like use insert() method for example.

[2019-01-24 17:11] lowwa132 opened #198 "Spatial index detection in schema"
Each time I execute a schema update with --dump-sql SQL option, it gives me:
[code]
Even if I execute it with --force option, it always want to drop and recreate the index (with the same name).

I don't know what it worth, I remember I had this bug a year ago. It was not present anymore, and reappared after I did a composer update (doctrine/orm upgraded from 2.6.2 to 2.6.3).

[2019-02-25 17:03] sela commented on #198
Did you try to create a new database and run all your migrations and then running again the schema update --dump-sql?

[2019-02-26 09:46] lowwa132 commented on #198
I've just tried, same thing happening.

[2019-04-20 22:43] yurtesen opened #199 "Default point values"
Why the default point values are `0 0` and not `null`? Shouldn't it be `null` by default?

When I create a new object from an entity which has

[code]

and if I print $coords using `print $myObj->getCoords();`. I get `0 0` as result.

I tried to set `private $coords = null;` but it does not seem to do any difference. Yet I am able to do `$myObj->setCoords(null)` and it sets it null in database whe

[2019-05-03 06:01] yurtesen commented on #199
Nevermind, apparently I forgot that I put some defaults to constructor :(

[2019-05-03 06:01] #199 closed

[2019-05-23 09:25] lngphp opened #200 "Cannot get geometry object from data you send to the GEOMETRY field"
How do I store POINT type?

Result query:

[code]
This is how I store it:

[code]

[2019-05-23 23:26] holtkamp commented on #200
When looking at:

[code]

It seems the POINT is handed over as a string, it should probably be:

[code]

Did you register the types and functions as done here:

https://github.com/creof/doctrine2-spatial/blob/58ea5fae1c1b450ee08d7dac25cd9e8f5e6fdebd/tests/CrEOF/Spatial/Tests/OrmTestCase.php#L191-L193

[2019-05-24 04:26] lngphp commented on #200
I have found the reason. I use custom Quote Strategy class which adds quotes to table fields. Inspite it works with fields, somehow it affects values also. Here is the class: https://gist.github.com/lngphp/a6e9a5de1287604ad4ffb9d25c1abcb2

[2019-05-24 08:46] lngphp opened #201 "GeomFromText does not exist"
Looks like MySQL 8 is not supported as there is no `ST_` prefix in GeomFromText.

[2019-05-25 13:04] holtkamp commented on #201
Related to https://github.com/creof/doctrine2-spatial/issues/193 and https://github.com/creof/doctrine2-spatial/pull/196

If really needed you can use this branch: https://github.com/holtkamp/doctrine2-spatial/tree/mysql-80-support

not for production use though: I might delete it when the PR gets merged.

[2019-07-11 12:48] emanuelesogus opened #202 "Denormalize Point"
Hi, when I try to insert a coordinate whit POST it gives me this error:

Could not denormalize object of type App\\Entity\\Point, no supporting normalizer found.

Ideas?

[2019-07-12 15:07] bjmmartin opened #203 "preg_split() expects parameter 2 to be string, float given"
Hello there ! We found a problem on this

[code]

[code]

but

[code]

works

We can use it on post cause we have our own data transformer. But the doctrine orm object automatic rebuild explode.

ps: Used php 7.1

TY, kiss

[2019-07-15 14:57] bjmmartin commented on #203
Hello again,

It appears that the problem came from the package `doctrine/lexer` beeing in `dev-master` not in a stable version like `^1.0`

I close the issue here.

[2019-07-15 14:57] #203 closed

[2019-08-02 14:01] jmmorillon opened #204 "Problem with version of 1.1.0 doctrine/lexer"
Hi !
I've run a composer update, and doctrine/lexer switch from 1.0.2 to 1.1.0.
Now I've critical errors :

CRITICAL                 15:56:29 | php | preg_split() expects parameter 2 to be string, float given                                     {     "exception": {} }
-- | -- | --
CRITICAL                 15:56:29 | request | Uncaught PHP Exception TypeError: "preg_split() expects  parameter 2 to

[2019-08-05 12:02] xabbuh commented on #204
should be fixed by #205 if I understand the issue correctly

[2020-01-03 12:01] PowerKiKi commented on #204
This should be closed because it was fixed via  https://github.com/creof/geo-parser/pull/18

[2020-01-05 17:13] holtkamp commented on #52
Note that without using proper SRID on columns, spatial indexes will not work on MySQL `8.x`:

- https://mysqlserverteam.com/upgrading-to-mysql-8-0-with-spatial-data/
- https://mysqlserverteam.com/geographic-indexes-in-innodb/
- https://mysqlserverteam.com/upgrading-spatial-indexes-to-mysql-8-0/

[2020-01-20 16:17] holtkamp opened #206 "Geographical Points populated incorrectly on MySQL"
The following links describe how MySQL interprets the coordinates of `POINT` type when a spatial reference identifier (SRID) is indicated, making the type a "Geography" instead of a "Geometry":

- https://dba.stackexchange.com/a/229689/199259, linking to:
  - https://dba.stackexchange.com/a/182626/199259

So it seems MySQL follows the specification properly, but this is not the "de facto" standard

[2020-01-23 20:15] holtkamp commented on #200
So this issue can be closed then?

[2020-01-28 18:45] sushicodeur opened #207 "Trying to access array offset on value of type resource"
I'm not sure why, on my dev machine, with an env under docker I had suddenly this error today : "Trying to access array offset on value of type resource"

It looks like modifying line 138 of `lib/CrEOF/Spatial/DBAL/Types/AbstractSpatialType.php` like so fixes the error, but I'm not sure why nor where to look for an explanation :

[code]

If I can be of any help, please give hints to where to look,

[2020-02-20 18:12] Alexandre-T commented on #207
I encountered the same problem since I upgrade to Php7.4
I solved it with :

[code]

[2020-02-26 12:54] Alexandre-T commented on #193
I'm searching a way to be compliant with MySQL5.7 and MySQL8.0. If process knows which version is running, it can adapt function and prevent users from breaking. I forked the project last week and I will push a big update tonight to avoid untested functions initially. But the updates which uses protected methods insteadof protected properties open a way to determinates the name of function dependi

[2020-02-28 01:53] holtkamp commented on #193
Note that MySQL 5.7 also is aware of the `ST_` prefixed functions...

[2020-02-28 11:39] Alexandre-T commented on #193
I'm not sure that MySQL is aware for all ST_ prefixed functions. Did you? When I launch test on my repo, with my old MySQL 5.7 server version, test throws exceptions because ST_GeomFromText is unknown. And MySQL8.0 server version throws exception because GeomFromText is unknown.

DQL queries should respect the OGC Standard. So, now, DQL should use prefixed ST_ version. I think its a good strategy

[2020-02-28 13:12] holtkamp commented on #193
Aah, no, was not sure as well, that makes it a good thing to have these tests in place 👍

Still on vacation, so this was a quick comment without further research, sorry 😄

Your suggested approach seems very flexible, thumbs up!

[2020-04-08 08:25] Alexandre-T commented on #207
PR #209 fixed it.

[2020-08-26 16:41] mcanepa commented on #193
Please, release an update to solve this issue

[2020-09-18 04:05] felp302 opened #212 "Mysql glitch with ST_Within() =1"
Mysql has a glitch that if ```ST_Within() = 1 ``` no indexes will be used while just ```ST_Within()``` works fine.
https://bugs.mysql.com/bug.php?id=76384
However on DQL createQuery query if you use only "WHERE ST_Within( l.point, $areaToSearch )" it will return:

Notice: Trying to access array offset on value of type null
at vendor/doctrine/orm/lib/Doctrine/ORM/Query/Parser.php:2536

Is there an

[2020-09-18 11:16] #212 closed

[2020-09-18 11:17] felp302 commented on #212
duplicate https://github.com/creof/doctrine2-spatial/issues/178

[2020-10-27 03:31] mareksuscak commented on #193
According to the official documentation, ST_GeomFromText should be available in MySQL 5.7:
https://dev.mysql.com/doc/refman/5.7/en/gis-wkt-functions.html#function_st-geomfromtext

[2020-11-06 20:51] jspetrak opened #214 "function st_asewkb(traffic.geometry) does not exist"
My Doctrine configurate has single geometry type added

[code]

I use it in single entity with following property definition

[code]

When launching web application, I am getting error

`SQLSTATE[42883]: Undefined function: 7 ERROR:  function st_asewkb(traffic.geometry) does not exist`

I do not see implementation for `ST_AsEWKB` even though it is used by `CrEOF\Spatial\DBAL\Platform\PostgreSql`.

[2021-05-12 19:58] echantigny commented on #198
I have the same issue here.  Was this ever fixed or is there any workaround?

[2021-05-12 20:22] sadortun commented on #198
Hi @echantigny, if you still have the issue with `master` it's probably not fixed ;)

 feel free to submit a PR if you find the issue.

[2021-05-18 18:30] echantigny commented on #198
For anyone seeing this late, the solution for me was:
`@ORM\Index(name="center_point", columns={"center_point"}, options={"flags"="spatial"})`

I hope this helps out someone.

[2021-06-04 16:08] pluseg commented on #54
I had the same problem with returning NULL. It happens because of your Polygon wasn't closed up, I think. You have to duplicate first Point and add at the end. At least, it worked in database query.
[code]

[2022-02-08 07:29] amirsalkhori commented on #207
Hi I have this problem
Trying to access array offset on value of type resource.
I change line 138 of lib/CrEOF/Spatial/DBAL/Types/AbstractSpatialType.php like @Alexandre-T  solution, But I it is in the vendor and I can use it on my server. I just installed package creof/doctrine2-spatial pakage

[2022-02-08 11:05] Alexandre-T commented on #207
@amirsalkhori  This issue has been fixed in the [longitude-one/doctrine-spatial](https://packagist.org/packages/longitude-one/doctrine-spatial) package.

[2022-02-09 00:54] tec4 opened #220 "Any way to store empty polygon in Postgres?"
Is there any way to store an empty polygon?

What I am trying to do is have a geometry column in Postgres that has a spatial index, so I cannot set the column to be nullable.  In raw SQL, it would be something like this:

[code]

I've tried to create an empty Polygon object by passing it no rings, like this but it fails:

[code]
I get the following error:
**Error: Method CrEOF\Spatial\PHP\Types\Ge

[2022-08-03 14:35] WelshDev opened #221 "Missing STDistanceSphere class"
I noticed that the MySQL function ST_Distance_Sphere is mentioned in the [list of MySQL functions](https://github.com/creof/doctrine2-spatial/blob/master/doc/mysql.md) but there is no class for it in CrEOF\Spatial\ORM\Query\AST\Functions\MySql\STDistanceSphere

Adding this class manually myself has resolved this and it works just fine.
I'm curious why this class isn't available?

Thanks

[2022-08-13 16:30] sterichards commented on #221
I am having the same issue

I am able to use STDistance but not STDistanceSphere

After looking into the file structure I see that the STDistanceSphere class is not present in Spatial/ORM/Query/AST/Function/MySQL